.header {position: fixed; top: 0; left: 0; width: 100%; height: 90px; background: #fff; z-index: 2000;}
.header .inner {height: 100%; padding: 0 60px; display: flex; justify-content: space-between; align-items: center;}
.header h1 img {width: auto; height: 42px;}
.header .gnb {display: flex; height: 100%;}
.header .gnb::after {content: ''; width: 100vw; height: 250px; background: #fff; position: absolute; inset: 0; top: -160px; z-index: -100; opacity: 0; transition: opacity 0.6s, top 0.5s;}
.header:hover .gnb::after {top: 90px; opacity: 1;}
.header .gnb > li > a {font-size: 18px; color: #333; font-weight: 600; display: block; height: 100%; line-height: 5; padding: 0 46px; cursor: pointer; transition: color 0.3s, padding 0.5s;}
.header:hover .gnb > li > a {padding: 0 73px;}
.header .gnb li a:hover {color: #EA5514;}
.header .gnb li .depth2 {display: block; height: 250px; padding-top: 19px;}
.header .gnb li .depth2 li a {display: block; font-size: 16px; padding: 13px 0; text-align: center; opacity: 0; transition: opacity 0.3s;}
.header:hover .gnb li .depth2 li a {opacity: 1;}
.header .utils {font-family: 'Poppins'; font-size: 14px; display: flex; align-items: center;}
.header .utils .language-box {padding: 14px 22px; background: #EA5514; border-radius: 22px; cursor: pointer;}
.header .utils .language-box .language {vertical-align: middle; color: #fff; font-weight: 500; padding-right: 15px;}
.header .utils .language-box .btn_more {vertical-align: middle;}
.header .utils .sns-box {height: 28px; width: 32px; margin-left: 36px; cursor: pointer;}
.header .utils .sns-box svg {transition: all 0.3s;}
.header .utils .sns-box:hover svg {fill: #EA5514;}
.header .utils .hamburgur {width: 23px; height: 21px; position: relative; display: block; margin-left: 43px; cursor: pointer;}
.header .utils .hamburgur:hover::before,
.header .utils .hamburgur:hover::after,
.header .utils .hamburgur:hover span {background: #EA5514;}
.header .utils .hamburgur span, .header .utils .hamburgur::before, .header .utils .hamburgur::after {display: block; width: 100%; height: 3px; background: #000; border-radius: 50px; transition: all 0.3s;}
.header .utils .hamburgur span {position: absolute; top: 50%; left: 0; margin-top: -1.5px;}
.header .utils .hamburgur::before {content:''; position: absolute; top: 0;}
.header .utils .hamburgur::after {content:''; position: absolute; top: 100%; margin-top: -3px;}

.visual .visual-swiper {width: 100vw; height: 100vh; position: relative; overflow: hidden;}
.visual .visual-swiper .swiper-slide {display: flex; justify-content: flex-end; align-items: center; position: relative;}
.visual .visual-swiper .swiper-slide .bg {position: absolute; inset: 0; z-index: -10;} 
.visual .visual-swiper .swiper-slide::after {content: ''; display: block; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); position: absolute; inset: 0; z-index: -1;}
.visual .visual-swiper .swiper-slide .txt-box {color: #fff; width: 50%; padding-left: 46px;}
.visual .visual-swiper .swiper-slide .txt-box .tit {font-size: 100px; font-weight: 600; line-height: 0.75; padding-bottom: 0.68em;}
.visual .visual-swiper .swiper-slide .txt-box .des {font-size: 40px; font-weight: 700; line-height: 0.75; padding-bottom: 1.075em;}
.visual .visual-swiper .swiper-slide .txt-box .btn-more {background: #EA5514; border-radius: 24px; font-size: 16px; padding: 16px 69px 16px 24px; color: #fff; display: inline-block; position: relative; font-weight: 600;}
.visual .visual-swiper .swiper-slide .txt-box .btn-more .ico-arrow {position: absolute; top: 50%; right: 24px; transform: translateY(-50%);}
.visual .visual-swiper .progress-bar {position: absolute; top: 50%; left: 65px; transform: translateY(-50%); z-index: 100; text-align: center;}
.visual .visual-swiper .progress-bar .c-page {font-family: 'Poppins'; color: #fff; font-size: 13px; font-weight: 700; display: block; text-align: center; margin-bottom: 16px; user-select: none;}
.visual .visual-swiper .progress-bar .bar {display: inline-block; width: 2px; height: 100px; background: rgba(255, 255, 255, 0.3); margin-bottom: 9px; position: relative; font-size: 0;}
.visual .visual-swiper .progress-bar .bar .inner {position: absolute; inset: 0; width: 100%; height: 100%; background: #fff; transform: scale(1, 0); transform-origin: top center;}
.visual .visual-swiper .progress-bar .navi {margin-top: 7px;}
.visual .visual-swiper .progress-bar .navi > div {height: 5px; opacity: 0.3; cursor: pointer; transition: all 0.3s;}
.visual .visual-swiper .progress-bar .navi > div:hover {opacity: 1;}
.visual .visual-swiper .progress-bar .navi .btn-prev {margin-bottom: 19px;}
.visual .visual-swiper .progress-bar .btn-pause {display: block; margin: 0 auto; cursor: pointer;}
.visual .visual-swiper .progress-bar .btn-play {display: none; margin: 0 auto; cursor: pointer;}

.slogun {width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; position: relative;}
.slogun .txt-box {font-size: 64px; font-weight: 700; color: #d9d9d9; line-height: 1.421875;}
.slogun .txt-box.clone {position: absolute; color: #EA5514;}
.slogun .txt-box.clone > div {line-height: 1.421875;}
.slogun .txt-box.clone > div span {--size: 100%; clip-path: inset(0 var(--size) 0 0);}

.business {width: 100vw; }
.business .inner {width: clamp(1204px ,68vw, 1600px); margin: 0 auto; position: relative;}
.business .tit {font-size: 80px; font-weight: 700; font-family: 'Poppins'; text-transform: uppercase; margin-bottom: 0.4em; padding-top: 0.125em;}
.business .business-swiper {margin-top: 100px; width: 100%;}
.business .business-swiper .swiper-slide {display: flex; gap: 0 120px; align-items: center;} 
.business-swiper .business-swiper-btns {font-size: 0; position: absolute; top: 0; right: 0; display: flex; gap: 0 12px;}
.business-swiper .business-swiper-btns > div{display: inline-block; padding: 23px; border-radius: 50%; border: 1px solid #000; transition: all 0.3s; cursor: pointer;}
.business-swiper .business-swiper-btns > div:hover {background: #000;}
.business-swiper .business-swiper-btns svg {display: block; transition: all 0.3s;}
.business-swiper .business-swiper-btns > div:hover svg {fill: #fff;}
.business .pic-container {width: 35%; transition: width 1.2s;}
.business .pic {width: 100%; padding-top: 128.3%; position: relative; transition: padding-top 1s, transform 1.3s, margin-top 1s;}
.business .business-swiper .swiper-slide.swiper-slide-prev .pic-container {width: 30%;}
.business .business-swiper .swiper-slide.swiper-slide-prev .pic {padding-top: 100%;  transform: translateX(158.333%); margin-top: 50%; opacity: 0.3;}
.business .business-swiper .swiper-slide.swiper-slide-next .pic-container {width: 30%;}
.business .business-swiper .swiper-slide.swiper-slide-next .pic {padding-top: 100%; margin-top: 50%; opacity: 0.3;}
.business .pic img {position: absolute; top: 0; left: 0;}
.business .sub-tit {font-size: 20px; font-weight: 700; line-height: 1.6;}
.business .des {display: flex; width: 40%; flex-direction: column; justify-content: center; opacity: 1; padding: 3% 0;}
.business .business-swiper .swiper-slide.swiper-slide-prev .des {opacity: 0; transition: opacity 0.3s;}
.business .business-swiper .swiper-slide.swiper-slide-active .des {opacity: 1; transition: opacity 0.3s 0.7s;}
.business .des .txt-box h3 {font-size: 20px; font-weight: 700; margin-top: 2.75em;}
.business .des .txt-box strong {display: inline-block; font-size: 45px; font-weight: 700; line-height: 1.3; margin-top: 0.42em; margin-bottom: 0.51em;}
.business .des .txt-box p {font-size: 16px; line-height: 1.6;}
.business .des .business-logo01 {width: 111px; height: 54px;}
.business .des .business-logo02 {width: 56px; height: 56px;}
.business .des .business-logo03 {width: 194px; height: 45px;}
.business .des .business-logo img {object-position: left top;}
.business .des .tag-list {width: 61%; margin-top: 65px; font-size: 0; display: flex; gap: 16px 10px; flex-wrap: wrap;}
.business .des .tag-list li {display: inline-block; font-size: 13px; font-weight: 600; color: #505050; background-color: #f6f6f6; padding: 14px 17px; border-radius: 20px;}

.worth {padding-top: 360px; margin-top: 360px;}
.worth .inner {width: clamp(1204px ,68vw, 1600px); margin: 0 auto;}
.worth .tit {font-size: 80px; text-transform: uppercase; font-weight: 700; font-family: 'Poppins'; line-height: 1.2; margin-bottom: 0.5875em;}
.worth .sub-tit {font-size: 26px; font-weight: 500; line-height: 1.5;}
.worth .sub-tit .last-line {display: block; margin-top: 2.0769em; margin-bottom: 6em;}
.worth .video {width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;}
.worth .video .video-inner {width: 60%; height: 0; position: relative; padding-top: 33.7%;}
.worth .video .youtube {width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: contain; pointer-events: none;}

.next {width: 100vw; height: 100vh;}
